<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://unpkg.com/tailwindcss@1.4.6/dist/tailwind.min.css" rel="stylesheet">
</head>
<header class="shadow-sm">
  <div class="bg-blue-300 py-1"></div>
  <nav class="flex items-center justify-between flex-wrap bg-white py-4 mx-auto px-8">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <a class="text-white no-underline hover:text-white hover:no-underline pl-2" href="#">
        <div class="h-8 bg-gray-500 w-16 block mx-auto rounded-sm"></div>
      </a>
    </div>

    <div class="block lg:hidden">
      <button id="nav-toggle" class="focus:outline-none">
        <div class="h-1 bg-gray-300 w-8 mb-1 block mx-auto rounded-sm"></div>
        <div class="h-1 bg-gray-300 w-8 mb-1 block mx-auto rounded-sm"></div>
        <div class="h-1 bg-gray-300 w-8 mb-1 block mx-auto rounded-sm"></div>
      </button>
    </div>

    <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block pt-6 lg:pt-0" id="nav-content">
      <ul class="list-reset lg:flex justify-end flex-1 items-center">
        <li class="mr-3">
          <a class="inline-block py-2 px-4 active:text-gray-900 no-underline" href="#">
            <div class="h-2 bg-gray-400 w-16 mt-2 block mx-auto rounded-sm"></div>
          </a>
        </li>
        <li class="mr-3">
          <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
            href="#">
            <div class="h-2 bg-gray-400 w-16 mt-2 block mx-auto rounded-sm"></div>
          </a>
        </li>
        <li class="mr-3">
          <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
            href="#">
            <div class="h-2 bg-gray-400 w-16 mt-2 block mx-auto rounded-sm"></div>
          </a>
        </li>
        <li class="mr-3">
          <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4"
            href="#">
            <div class="h-2 bg-gray-400 w-16 mt-2 block mx-auto rounded-sm"></div>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main class="flex-grow flex justify-center items-center">

  <div class="mx-auto px-4 sm:px-8 py-2 text-center">

    <div class="text-center max-w-lg mx-auto mt-6">
      <div class="h-4 bg-gray-500 w-40 block mx-auto rounded-sm"></div>
      <div class="h-2 bg-gray-400 w-64 mt-4 block mx-auto rounded-sm"></div>
      <div class="h-2 bg-gray-400 w-48 mt-2 block mx-auto rounded-sm"></div>
    </div>

    <div class="grid grid-cols-6 gap-4 items-start mt-8 mx-auto px-8">

      <div class="col-span-6 sm:col-span-6 md:col-span-3 lg:col-span-2 xl:col-span-2">
        <div class="bg-white shadow-lg rounded-lg px-4 py-6 mx-4 my-4">
          <div class="mx-auto h-40 bg-gray-200 rounded-md"
            style="background-image: url('https://i.pinimg.com/originals/c8/a9/6c/c8a96ca45a25bcc7da652361933519a4.jpg'); background-size: cover;">
          </div>
          <div class="h-4 bg-gray-200 w-40 mt-8 block mx-auto rounded-sm"></div>
          <div class="h-2 bg-gray-200 w-64 mt-2 block mx-auto rounded-sm"></div>
          <div class="flex justify-center mt-4">
            <div class="rounded-sm h-8 w-20 px-4 bg-gray-200 mr-2"></div>
            <div class="rounded-sm h-8 w-20 px-4 bg-green-300"></div>
          </div>
        </div>
      </div>


      <div class="col-span-6 sm:col-span-6 md:col-span-3 lg:col-span-2 xl:col-span-2">
        <div class="bg-white shadow-lg rounded-lg px-4 py-6 mx-4 my-4">
          <div class="mx-auto h-40 bg-gray-200 rounded-md"></div>
          <div class="h-4 bg-gray-200 w-40 mt-8 block mx-auto rounded-sm"></div>
          <div class="h-2 bg-gray-200 w-64 mt-2 block mx-auto rounded-sm"></div>
          <div class="flex justify-center mt-4">
            <div class="rounded-sm h-8 w-20 px-4 bg-gray-200 mr-2"></div>
            <div class="rounded-sm h-8 w-20 px-4 bg-green-300"></div>
          </div>
        </div>
      </div>

      <div class="col-span-6 sm:col-span-6 md:col-span-6 lg:col-span-2 xl:col-span-2">
        <div class="bg-white shadow-lg rounded-lg px-4 py-6 mx-4 my-4">
          <div class="mx-auto h-40 bg-gray-200 rounded-md"></div>
          <div class="h-4 bg-gray-200 w-40 mt-8 block mx-auto rounded-sm"></div>
          <div class="h-2 bg-gray-200 w-64 mt-2 block mx-auto rounded-sm"></div>
          <div class="flex justify-center mt-4">
            <div class="rounded-sm h-8 w-20 px-4 bg-gray-200 mr-2"></div>
            <div class="rounded-sm h-8 w-20 px-4 bg-green-300"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

</main>
</body>

</html>